<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/error.css">
<body>
    <div class="error-container">
        <h1>404</h1>
        <h2>Oops! Page Not Found</h2>
        <p><%= message %></p>
        <a href="/" class="home-button">Back to Homepage</a>
    </div>
</body>
